[%
UNLESS original_request_path;
    original_request_path = '/' _ c.req.path;
END;
%]
<div id="login_panel">
[% IF c.flash.login_error %]
<div class="error_message"><p>Login error! Please try again.</p></div>
[% END %]
[% IF c.user %]
<p>Hi, [% c.user.twitter_user %]!</p>
[% ELSE %]
<p><a href="[% c.uri_for_action( '/auth/login', { original_request_path => original_request_path } ) %]">Log in (via Twitter)</a></p>
[% END %]
</div> <!-- .login_panel -->